[user]
#	name =
#	email =
[alias]
	co = checkout
	ci = commit
	st = status
	br = branch
[core]
	editor = vim
[credential]
# windows only:
#	helper = wincred
# linux only:
#	helper = cache --timeout=30000
