[user]
#	name =
#	email =
[alias]
	co = checkout
	ci = commit
	st = status
	br = branch
	undo = reset --soft HEAD^
	stash-all = stash save --include-untracked
[push]
	followTags = true
[status]
	showUntrackedFiles = all
[core]
	editor = vim
[credential]
# windows only:
#	helper = wincred
# linux only:
#	helper = cache --timeout=30000
