[user]
	name = Andrey Nering
	email = andreynering@users.noreply.github.com
[alias]
	co = checkout
	ci = commit
	st = status
	br = branch
	dc = diff --cached
	undo = reset --soft HEAD^
	stash-all = stash save --include-untracked
	fixup = commit --fixup
	do-merge = "!f() { git merge --no-ff $1 && git branch -d $1; }; f"
	do-gc = "!f() { git reflog expire --all --expire=now && git gc --prune=now --aggressive; }; f"
	cleanup = "!git branch -vv | awk '/: gone]/{print $1}' | xargs git br -D"
	authors = "!git log --format='%an <%ae>' | sort -u"
[push]
	followTags = true
[pull]
	rebase = false
[fetch]
	prune = true
[status]
	showUntrackedFiles = all
[core]
	editor = micro
[credential]
# windows only:
#	helper = wincred
# linux only:
#	helper = cache --timeout=30000
